.container {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
}
.weather-container {
  display: block;
  white-space: normal;
  padding: 30px 30px 5px 30px;
  border: solid 1px #ececec;
  border-radius: 15px;
  font-size: 13px;
  background: #ffffff;
}
.search-city {
  display: block;
  text-align: left;
  padding: 15px 0;
}
.search {
  border: 1px solid #272343;
  border-radius: 10px;
}

.search-button,
.location-button {
  background-color: #272343;
  color: #ffffff;
  border: 0px none;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.5px 0.5px 0.5px #272343;
}
.location-button {
  position: relative;
}
.search-button:hover,
.location-button:hover {
  color: #000;
  background-color: #bae8e8;
  cursor: pointer;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.current-weather {
  display: inline-block;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.details-top {
  margin-top: 10px;  
  text-align: left;
  overflow: auto;
}

.current-weather-units {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.current-weather a {
  text-decoration: none;
}
.current-weather .active {
  color: #000;
  cursor: default;

}

.days {
  text-align: center;
  overflow: auto;
}
.card {
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card-body {
  background-color: #ffffff;
  box-shadow: 0 0.5px 0.5px 0.5px #9fd3c7;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}
.card-body:hover {
  transform: scale(1.1);
}
.card-title {
  font-size: 15px;
}
.card-text {
  font-size: 11px;
}
.card img {
  width: 40px;
  margin-bottom: 10px;
}
.btn-days {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 20px;
  font-size: 7px;
}

.btn-days {
  background-color: #272343;
  color: #ffffff;
  border: 0px none;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.5px 0.5px 0.5px #272343;
}
.btn-days:hover {
  color: #000;
  background-color: #bae8e8;
  cursor: pointer;
}
.credits {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 11px;
  text-decoration: none;
  color: black;
}
.credits-link {
  text-decoration: underline;
  color: #000;
}
.credits-link a:hover {
  text-decoration: underline;
  color: blue;
}
