.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
}
.weather-container {
  display: block;
  white-space: normal;
  padding: 30px 30px 5px 30px;
  border: solid 1px #ececec;
  border-radius: 15px;
  font-size: 13px;
  background: #ffffff;
}
.search-city {
  display: block;
  text-align: left;
  padding: 15px 0;
}
.search {
  height: 30px;
  border: 1px solid #5c636e;
  border-radius: 5px;
}

.search-button,
.location-button {
  background-color: #393e46;
  color: #ffffff;
  border: 0px none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.5px 0.5px 0.5px #393e46;
}
.location-button {
  position: relative;
}
.search-button:hover,
.location-button:hover {
  color: #000;
  background-color: #EC6E4B;
  cursor: pointer;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.current-weather-location {
font-size: 20px;
font-weight: bold;

}
.current-weather-temp {
font-size: 35px;
font-weight: bold;
color: #000;
}

.current-data {
  opacity: 0.7;
}

.details {
  color: #000;  
  opacity: 0.8;

}

.details-top {
  margin-top: 10px;  
  text-align: left;
   opacity: 0.8;
}


.current-weather-units {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
  
}

.current-weather-units a {
text-decoration: none;
  color: #000;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  background-color: #f7f7f7;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperetures {
   font-size: 13px;
}

.weather-forecast-tempereture-min {
  opacity: 0.6;
}

.credits {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 11px;
  text-decoration: none;
  color: black;
}
.credits-link {
  text-decoration: underline;
  color: #000;
}
.credits-link a:hover {
  text-decoration: underline;
  color: blue;
}
